[Unit]
Description=SASL Authentication Daemon
Documentation=man:saslauthd(8)

[Service]
Type=forking
Group=sasl
PIDFile=/var/run/saslauthd/saslauthd.pid
EnvironmentFile=/etc/default/saslauthd
ExecStart=/usr/sbin/saslauthd -a $MECHANISMS $MECH_OPTIONS $OPTIONS -n $THREADS
RuntimeDirectory=saslauthd

[Install]
WantedBy=multi-user.target
